*{
    font-family: "OCR A Extended", monospace;
    font-size: large;
    background-color: #aad3a3;
}



.name {
    color: black;
    font-size: 22px;
}

.container{
    max-width: 500px;
    margin: auto;
    text-align: center;
    border-radius: 8px;
}
table {
    text-align: center;
    border-collapse: collapse;
    border-radius: 50px;
    width: 100%;
    margin: auto;
    border-right: 2px solid  #5a7953;
    border-top: 2px solid  #5a7953;
    border-bottom: 2px solid #5a7953;
    border-left: 2px solid #5a7953;
}


th {
    font-size: 16px;
    font-weight: normal;
    color: black;
    padding: 10px;
}

td {
    color: black;
    padding: 10px;
}

.active {
    background: #5a7953;
}

#graph{
    border-right: 2px solid #5a7953;
    border-top: 2px solid #5a7953;
    border-bottom: 2px solid #5a7953;
    border-left: 2px solid #5a7953;
}

.mainButtons{
    text-align: center;
    width: 170px;
    height: 30px;
    background: #789771;
    transition: 0.3s;
}

input { border: 2px solid #5a7953}

.mainButtons:hover {
    text-align: center;
    width: 175px;
    height: 35px;
    background: #5a7953;
    transition: 0.3s;
}

#for_message {
    text-align: center;
}

#message {
    font-weight: bold;
    color: darkred;
}

.slider{
    padding-left: 35%;
}
